projectName: Kosh Example

services:
  - name: infra
    type: docker-compose
    path: ./devops/local
    logs: true

  - name: gateway
    type: caddy
    logs: false
    path: ./devops/local
    args: "--config Caddyfile"

  - name: core-migration
    type: dotnet-run
    path: ./src/apps/KoshTestProject.Console

  - name: api
    type: dotnet-watch
    path: ./src/apps/KoshTestProject.Api
    args: "--urls http://localhost:6001"
    env:
      ASPNETCORE_ENVIRONMENT: Development

  - name: admin-api
    type: dotnet-watch
    path: ./src/apps/KoshTestProject.Admin.Api
    args: "--urls http://localhost:6002"
    env:
      ASPNETCORE_ENVIRONMENT: Development

  - name: frontend-react
    type: node
    path: ./src/apps/kosh-test-project-react

hosts:
  - domain: kosh-test.api.localhost
  - domain: kosh-test.localhost